# **Penting**
- Jangan mengubah atau menambahkan cell text yang sudah disediakan, Anda hanya perlu mengerjakan cell code yang sudah disediakan.
- Pastikan seluruh kriteria memiliki output yang sesuai, karena jika tidak ada output dianggap tidak selesai.
- Misal, Anda menggunakan df = df.dropna() silakan gunakan df.isnull().sum() sebagai tanda sudah berhasil. Silakan sesuaikan seluruh output dengan perintah yang sudah disediakan.
- Pastikan Anda melakukan Run All sebelum mengirimkan submission untuk memastikan seluruh cell berjalan dengan baik.
- Pastikan Anda menggunakan variabel df dari awal sampai akhir dan tidak diperbolehkan mengganti nama variabel tersebut.
- Hapus simbol pagar (#) pada kode yang bertipe komentar jika Anda menerapkan kriteria tambahan
- Biarkan simbol pagar (#) jika Anda tidak menerapkan kriteria tambahan
- Pastikan Anda mengerjakan sesuai section yang sudah diberikan tanpa mengubah judul atau header yang disediakan.

# **1. Import Library**
Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning.

In [13]:
#Type your code here
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import joblib

# **2. Memuat Dataset dari Hasil Clustering**
Memuat dataset hasil clustering dari file CSV ke dalam variabel DataFrame.

In [14]:
# Gunakan dataset hasil clustering yang memiliki fitur Target
# Silakan gunakan dataset data_clustering jika tidak menerapkan Interpretasi Hasil Clustering [Advanced]
# Silakan gunakan dataset data_clustering_inverse jika menerapkan Interpretasi Hasil Clustering [Advanced]
# Lengkapi kode berikut
df = pd.read_csv("data_clustering_inverse.csv")

In [15]:
# Tampilkan 5 baris pertama dengan function head.
df.head()

,TransactionAmount,TransactionDate,TransactionType,Location,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate,CustomerAge_bin,TransactionAmount_bin,Target
0,14.09,2023-04-11 16:29:14,Debit,San Diego,ATM,70.0,Doctor,81.0,1.0,5112.21,2024-11-04 08:08:08,Tua,Sangat Rendah,1
1,376.24,2023-06-27 16:44:19,Debit,Houston,ATM,68.0,Doctor,141.0,1.0,13758.91,2024-11-04 08:09:35,Tua,Tinggi,0
2,126.29,2023-07-10 18:16:08,Debit,Mesa,Online,19.0,Student,56.0,1.0,1122.35,2024-11-04 08:07:04,Muda,Rendah,0
3,184.50,2023-05-05 16:32:11,Debit,Raleigh,Online,26.0,Student,25.0,1.0,8569.06,2024-11-04 08:09:06,Muda,Rendah,1
4,13.45,2023-10-16 17:51:24,Credit,Atlanta,Online,45.0,Student,198.0,1.0,7429.40,2024-11-04 08:06:39,Dewasa,Sangat Rendah,2

# **3. Data Splitting**
Tahap Data Splitting bertujuan untuk memisahkan dataset menjadi dua bagian: data latih (training set) dan data uji (test set).

In [16]:
# Menggunakan train_test_split() untuk melakukan pembagian dataset.
X = df.drop("Target", axis=1)
y = df["Target"]

categorical_cols = X.select_dtypes(include=["object"]).columns # Label Encoding untuk kolom kategorikal
le_dict = {}
for col in categorical_cols:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col].astype(str))
    le_dict[col] = le

numerical_cols = X.select_dtypes(include=["float64", "int64"]).columns # Scaling untuk kolom numerik
scaler = MinMaxScaler()
X[numerical_cols] = scaler.fit_transform(X[numerical_cols])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y) # Train-Test Split (menggunakan stratify untuk menjaga distribusi target)

print(f"Training set shape: X_train={X_train.shape}, y_train={y_train.shape}")
print(f"Test set shape: X_test={X_test.shape}, y_test={y_test.shape}")

Training set shape: X_train=(1828, 13), y_train=(1828,)
Test set shape: X_test=(458, 13), y_test=(458,)

# **4. Membangun Model Klasifikasi**
Setelah memilih algoritma klasifikasi yang sesuai, langkah selanjutnya adalah melatih model menggunakan data latih.

Berikut adalah rekomendasi tahapannya.
1. Menggunakan algoritma klasifikasi yaitu Decision Tree.
2. Latih model menggunakan data yang sudah dipisah.

In [17]:
# Buatlah model klasifikasi menggunakan Decision Tree
dt = DecisionTreeClassifier().fit(X_train, y_train)

In [18]:
# Menyimpan Model
# import joblib
joblib.dump(dt, 'decision_tree_model.h5')

['decision_tree_model.h5']

# **5. Memenuhi Kriteria Skilled dan Advanced dalam Membangun Model Klasifikasi**

**Biarkan kosong jika tidak menerapkan kriteria skilled atau advanced**

In [19]:
# Melatih model menggunakan algoritma klasifikasi scikit-learn selain Decision Tree.
rf = RandomForestClassifier().fit(X_train, y_train) # Random Forest
svm = SVC().fit(X_train, y_train) # SVM
nb = GaussianNB().fit(X_train, y_train) # Naive Bayes

In [20]:
# Menampilkan hasil evaluasi akurasi, presisi, recall, dan F1-Score pada seluruh algoritma yang sudah dibuat.
def evaluate_model(model, X_test, y_test):
    y_pred = model.predict(X_test)
    results = {
        'Accuracy': accuracy_score(y_test, y_pred),
        'Precision': precision_score(y_test, y_pred, average="macro", zero_division=0),
        'Recall': recall_score(y_test, y_pred, average="macro", zero_division=0),
        'F1-Score': f1_score(y_test, y_pred, average="macro", zero_division=0)
    }
    return results

results = {
    'Decision Tree': evaluate_model(dt, X_test, y_test),
    'Random Forest': evaluate_model(rf, X_test, y_test),
    'SVM': evaluate_model(svm, X_test, y_test),
    'Naive Bayes': evaluate_model(nb, X_test, y_test),
}

summary = pd.DataFrame([
    {
        'Model': model_name,
        'Accuracy': metrics['Accuracy'],
        'Precision': metrics['Precision'],
        'Recall': metrics['Recall'],
        'F1-Score': metrics['F1-Score']
    }
    for model_name, metrics in results.items()
])
print(summary)

           Model  Accuracy  Precision   Recall  F1-Score
0  Decision Tree  1.000000   1.000000  1.00000  1.000000
1  Random Forest  1.000000   1.000000  1.00000  1.000000
2            SVM  0.956332   0.956851  0.95679  0.956067
3    Naive Bayes  0.986900   0.986969  0.98694  0.986947

In [21]:
# Menyimpan Model Selain Decision Tree
# Model ini bisa lebih dari satu
# import joblib
joblib.dump(rf, 'explore_random_forest_classification.h5')
joblib.dump(svm, 'explore_svm_classification.h5')
joblib.dump(nb, 'explore_naive_bayes_classification.h5')

['explore_naive_bayes_classification.h5']

Hyperparameter Tuning Model

Pilih salah satu algoritma yang ingin Anda tuning

In [22]:
# Lakukan Hyperparameter Tuning dan Latih ulang.
# Lakukan dalam satu cell ini saja.
param_grid = {  # Tuning pada SVM
    "C": [0.1, 1, 10],
    "gamma": ["scale", "auto"],
    "kernel": ["linear", "rbf", "poly"]
}

grid_search = GridSearchCV(SVC(random_state=42), param_grid, cv=5, scoring="f1_macro", n_jobs=-1)
grid_search.fit(X_train, y_train)

best_svm = grid_search.best_estimator_
y_pred_best_svm = best_svm.predict(X_test)

print("Parameter Terbaik:", grid_search.best_params_)

Parameter Terbaik: {'C': 10, 'gamma': 'scale', 'kernel': 'linear'}

In [23]:
# Menampilkan hasil evaluasi akurasi, presisi, recall, dan F1-Score pada algoritma yang sudah dituning.
svm_tuned_results = evaluate_model(best_svm, X_test, y_test)
hasil = pd.DataFrame([{
    'Model': "SVM",
    'Accuracy': svm_tuned_results['Accuracy'],
    'Precision': svm_tuned_results['Precision'],
    'Recall': svm_tuned_results['Recall'],
    'F1-Score': svm_tuned_results['F1-Score']
}])
print(hasil)

  Model  Accuracy  Precision    Recall  F1-Score
0   SVM  0.975983   0.975978  0.976145  0.976013

In [24]:
# Menyimpan Model hasil tuning
# import joblib
joblib.dump(best_svm, 'tuning_classification.h5')

['tuning_classification.h5']

End of Code